// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Bookaroo palette
$jet: #333138;
$dark-coral: #CF5C36;
$outer-space: #464655;
$snow: #FAF9F6;
$dark-salmon: #F09D79;
