<div class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
  <div class="footer-links py-2 py-md-auto">
    <%= link_to "About", "#", class: 'nav-link' %>
    <%= link_to "FAQ", "#", class: 'nav-link' %>
    <%= link_to "Contact", "#", class: 'nav-link' %>
  </div>
  <div class="footer-copyright py-2 py-md-auto">
    Made with <i class="fas fa-heart"></i> by twikah
  </div>
</div>
