<div class="row mt-5">
  <% if @books %>
    <% @books.results.work.each do |book| %>
      <div class="book-results col-2">
        <img src="<%= book.best_book.image_url %>" />
        <h5><%= book.best_book.title %></h5>
        <h5><%= book.best_book.author.name %></h5>
      </div>
    <% end %>
  <% end %>
</div>
