.navbar-lewagon {
  background: transparent;
  justify-content: space-between;
  margin: 0.5em auto 0;
  padding-right: 0;
  padding-left: 0;
  a {
    font-family: $headers-font;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-nav {
  li {
    margin-left: 0.7em;
  }
}
